# FF profile stuff
activity-stream.contile.json
activity-stream.discovery_stream.json
addons.json
addonStartup.json.lz4
AlternateServices.bin
bounce-tracking-protection.sqlite
cert9.db
compatibility.ini
containers.json
content-prefs.sqlite
cookies.sqlite
cookies.sqlite-shm
cookies.sqlite-wal
domain_to_categories.sqlite
domain_to_categories.sqlite-journal
ExperimentStoreData.json
extension-preferences.json
extensions.json
shield-preference-experiments.json
favicons.sqlite
favicons.sqlite-shm
favicons.sqlite-wal
formhistory.sqlite
handlers.json
key4.db
Telemetry.ShutdownTime.txt
webappsstore.sqlite
webappsstore.sqlite-shm
webappsstore.sqlite-wal
logins.db
parent.lock
permissions.sqlite
prefs.js
pkcs11.txt
places.sqlite
places.sqlite-shm
places.sqlite-wal
places_semantic.sqlite
places_semantic.sqlite-shm
places_semantic.sqlite-wal
protections.sqlite
search.json.mozlz4
activity-stream.inferred_personalization_feed.json
activity-stream.weather_feed.json
sessionCheckpoints.json
SiteSecurityServiceState.bin
storage.sqlite
suggest.sqlite
suggest.sqlite-shm
suggest.sqlite-wal
targeting.snapshot.json
times.json
xulstore.json
thumbnails
storage
startupCache
shader-cache
settings
sessionstore-backups
security_state
safebrowsing
remote-settings
minidumps
jumpListCache
gmp-gmpopenh264
gmp-widevinecdm
extension-store
datareporting
crashes
cache2
bookmarkbackups
saved-telemetry-pings
chrome_debugger_profile

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/css.code-snippets
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ignore
node_modules
yarn.lock
package-lock.json
pnpm-lock.yaml
*.zip
custom.css
user-chrome.css
user-content.css
